body {
  background-color: #232323;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

h1 {
  color: #e9e9e9;
  background-color: #40497e;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0;
  padding: 20px 0 20px 0;
}

h1 span {
  display: block;
  font-size: 150%;
}

button {
  background-color: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: inherit;
  color: #40497e;
  text-transform: uppercase;
  border: none;
  height: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover, .selected {
  background-color: #40497e;
  color: #e9e9e9;
}

.top-menu {
  background-color: #e9e9e9;
  text-align: center;
  height: 30px;
}

.top-menu span {
  display: inline-block;
  width: 20%;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.square {
  width: 30%;
  float: left;
  margin: 1.66%;
  background-color: #610a80;
  padding-bottom: 30%;
  border-radius: 12%;
  transition: background-color 0.8s;
  -webkit-transition: background-color all 0.8s;
  -moz-transition: background-color all 0.8s;
}
